ul{
    font-size: 16px;
    padding-left: 20px;
}

ul li,ul li a {
    text-decoration: none;
    list-style-type: none; 
    cursor: pointer;
    color:black
}

ul li span{
    color: var(--accent);
    font-weight: bold;
}

ul li a:hover{
    font-weight: bold;
}