<section class="content">
    <form (ngSubmit)="onSubmit(systemOptionsform.value)" #systemOptionsform="ngForm">
        <h4><strong>Opções do sistema</strong> <span *ngIf="loading"> ( Aguarde...)</span></h4>

        <p class="mt2 title-field">Insira um prefixo para bloquear os emails cadastrados, exemplo @exemplo.com.br assim somente usuarios que possuam esse email, exemplo fulano@exemplo.com.br poderá fazer o cadastro.</p>
        <p class="tip-field">Deixe vazio caso não deseje esse tipo de bloqueio</p>
        <input type="text" [disabled]="loading" name="prefix" placeholder="Prefixo de e-mail" [(ngModel)]="systemOptons.prefix">

        <p class="mt2 title-field">Ativar cadastro de usuarios no sistemas?</p>
        <label>
        <input type="radio" [disabled]="loading" [value]="true" name="activeSignup" [(ngModel)]="systemOptons.activeSignup"> 
        Sim</label>
        <label>
        <input type="radio" [disabled]="loading" [value]="false" name="activeSignup" [(ngModel)]="systemOptons.activeSignup"> 
        Não</label>
        <button class="mt2 accent" type="submit" >Salvar configurações</button>
        <button class="primary" type="button" (click)="gotohome()">Cancelar</button>
    </form>
</section>