.content{
    width: 100%;
    min-height: 20px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color:#f8f8f8;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center center; 
}

.content h4{
    flex:1;
}


.content .material-icons{
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
}

.content .material-icons:hover{
    color: var(--primary);
}